<div class="container">
  <form class="task-form" *ngIf="gameForm" [formGroup]="gameForm" (ngSubmit)="onSubmitForm()">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" required>
      <mat-error>
        Título é obrigatório!
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="description" required>
      <mat-error>
        Descrição é obrigatória!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Imagem Url</mat-label>
      <input matInput formControlName="imageUrl" required>
      <mat-error>
        URL da imagem é obrigatório!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Vídeo Url</mat-label>
      <input matInput formControlName="videoUrl">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Preço</mat-label>
      <input matInput type="number" formControlName="price" required>
      <mat-error>
        Preço precisa ser pelo menos R$ 1!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Desconto</mat-label>
      <input matInput type="number" formControlName="discountPercentage">
      <mat-error>
        Desconto precisa estar entre 0% e 100%!
      </mat-error>
    </mat-form-field>
  
    <button 
      class="submit-btn" 
      mat-stroked-button color="primary" 
      type="submit"
      [disabled]="!gameForm.valid"
    >
      {{ requestType == 'add' ? 'Criar novo' : 'Atualizar'}} jogo
    </button>
  </form>
</div>