.input-container {
  display: flex;
  align-items: center;
  background: #ccc;
  color: black;
  width: 100%;
}

.input-container mat-icon {
  margin-left: 10px;
}

.input-container input {
  padding: 12px;
  background-color: #ccc;
  border: none;
  outline: none;
  font-size: 1em;
  width: 100%;
}