.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

app-search {
  width: 50%;
  min-width: 323px;
  margin: 20px 0;
}

.game-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  max-width: 1366px;
}

a {
  cursor: pointer;
}