<div class="game-container">
  <video *ngIf="game.videoUrl" autoplay muted loop class="game-video">
    <source [src]="game.videoUrl" type="video/mp4">
  </video>
  <img *ngIf="!game.videoUrl" [src]="game.imageUrl" class="game-video">
  <div class="game-info-container">
    <div class="game-header">
      <img [src]="game.imageUrl" class="game-image">
      <h1 class="game-title">{{game.title}}</h1>
      <span class="game-description">{{game.description}}</span>
    </div>
    <div class="shop-container">
      <div class="price-container">
        <span *ngIf="game.discountPercentage" class="discount-pct">{{game.discountPercentage | discount}}</span>
        <div class="discount-prices">
          <span *ngIf="game.discountPercentage" class="original-price">{{game.price | currency: 'R$ '}}</span>
          <span class="final-price">{{(game.discountPercentage ? salePrice : game.price) | currency: 'R$ '}}</span>
        </div>
      </div>
      <button class="shop-button cart" (click)="openDialog()">EDITAR JOGO</button>
      <button class="shop-button buy" (click)="removeGame()">REMOVER JOGO</button>
    </div>
  </div>

  <ng-template #dialogTemplate>
    <app-dialog>
      <app-game-form requestType="update" [newGame]="game"></app-game-form>
    </app-dialog>
  </ng-template>
</div>